@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-placeholder: #d9d9d9;
  --color-text-primary: #4b4b4b;
  --list-bg-hover: #f5f5f5;
  --color-danger: rgb(242, 73 ,73);
  --card-radius: 1.5rem;
  --primary: #31509e;
  --primary-bg: #fefefe;
  --primary-title: #31509e;
  --secondary-title: #fefefe;
  --primary-card-bg: #0f379ba8;
  --color-text-secondary: #9e9e9e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  /* border: 1px solid red; */
}

body {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body.dark{
  --primary-title: #d4dbee;
  --secondary-title: #dddee2;
  --color-placeholder: #414158;
  --color-text-primary: #dddee2;
  --primary-card-bg: #10214da8;
  --list-bg-hover: #141c35;
  --primary-bg: rgb(12, 19, 41);
  background-color: rgb(12, 19, 41);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  gap: 1rem;
  padding: 5rem 0;
}

.theme_switch{
  position: absolute;
  top: 2rem;
  width: 2rem; 
  height: 2rem;
  padding: 0.5rem; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-placeholder);
  color: var(--primary-title);
  background-color: transparent;

}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: var(--primary-title);
}

.budgets {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.budget_card {
  background-color: var(--primary-card-bg);
  width: 100%;
  padding: 1rem;
  border-radius: var(--card-radius);
  color: var(--secondary-title);
  cursor: pointer;
}

.budget_name {
  font-size: 1.25rem;
}

.budget_amount {
  font-size: 2rem;
  font-weight: 800;
}

.add_budget_btn {
  height: 6rem;
  border-radius: 1.5rem;
  background-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  border: 2px dashed var(--color-placeholder);
  color: var(--color-placeholder);
}

/* Budget Details */

#budget_details {
  gap: 1rem;
}

#budget_details .budget_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#budget_details .icon {
  border: 1px solid #e0e0e06f;
  color: #e0e0e06f;
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#budget_details i {
  font-size: 2rem;
}

/* Back Home */

.back_home {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: var(--primary-bg);
  border: 1px solid var(--color-placeholder);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-2rem);
  color: var(--color-text-primary);
}

#budget_details .back_home .icon-back {
  font-size: 1rem;
}

/* Spent Item*/

.add_spent_btn {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-radius);
  border: 2px dashed var(--color-placeholder);
  background-color: transparent;
  color: var(--color-placeholder);
  gap: 1rem;
}

.add_spent_btn span {
  font-size: 2rem;
  font-weight: bold;
}

.sort_spent{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

.sort_spent i{
  font-size: 1rem !important;
  color: var(--color-text-primary);
}

.sort_spent select{
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--color-placeholder);
  appearance: none;
  border-radius: .5rem;
  background-color: transparent;
  color: var(--color-text-primary);
}

.sort_spent select option{
  background-color: var(--primary-bg);
}

.spent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spent_item {
  padding: 1rem;
  background-color: transparent;
  color: var(--color-text-primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 1px solid var(--color-placeholder);
  cursor: pointer;
}

.spent_item:hover {
  background-color: var(--list-bg-hover);
}

.spent_item h4 {
  font-size: 1.25rem;
}

.spent_item_price {
  font-size: 1.75rem;
  font-weight: bold;
}

/* Modal */

.modal{
  background-color: rgba(5, 5, 5, 0.37);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.modal .card{
  background-color: var(--primary-bg);
  width: 80%;
  max-width: 40rem;
  padding: 1rem;
  border-radius: var(--card-radius);
  animation: slideup .5s ease-in-out;

}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal_card_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-title);
  margin-bottom: 1rem;
}

.modal_card_heading i{
  font-size: 1.5rem;
  color: #f24949;
  cursor: pointer;
}

.modal .card form label{
  display: block;
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

.modal .card form input{
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--color-placeholder);
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

.modal form .input_money{
  color: var(--color-text-secondary);
  position: relative;
}

.modal form .input_money span{
  font-size: 1.5rem;
  transform: translateY(50%);
  left: 1rem;
  position: absolute;
}

.modal form .input_money input{
  padding-left: 3.2rem;
}

.modal form .action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal form .action:has( > .hidden){
  flex-direction: row-reverse;
}

.modal form .action .danger{
  padding: 0;
  background-color: transparent;
  color: var(--color-danger);
  border: 2px solid var(--color-danger);
  width: 4rem;
  aspect-ratio: 1/1;
}


.modal form button{
  margin-top: 5px;
  padding: .8rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  color: white;
}

.modal form .submit_spent{
  float: right;
}

/* Notification */

.notification-wapper{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.notification{
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.673);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-text-secondary);
  border-radius: 12px;
  padding: .75rem 1rem;
  animation: slidedown .2s ease-in-out;
}

.notification.out{
  animation: fadeout .3s ease-in-out forwards;
}

@keyframes fadeout{
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  } to {
    opacity: 1;
    transform:  translateY(0);
  }
}

/* Responsive */

@media (max-width: 768px) {
  .budgets {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #budget_details{
    padding: 0 1rem;
  }
}
